---
---
<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	
	<title>Clarity | Cemu Graphic Packs</title>
<meta property="og:title" content="ClarityGFX">
<meta property="og:locale" content="en_US">
<meta name="description" content="<!doctype html>">
<meta property="og:description" content="<!doctype html>">
<link rel="canonical" href="https://{{site.github.owner_name}}.github.io/cemu_graphic_packs/clarity/">
<meta property="og:url" content="https://{{site.github.owner_name}}.github.io/cemu_graphic_packs/clarity/">
<meta property="og:site_name" content="cemu_graphic_packs">
<script type="application/ld+json">{"name":"Clarity Preset Browser","description":"Browse the presets","author":null,"@type":"WebPage","url":"https://{{site.github.owner_name}}.github.io/cemu_graphic_packs/clarity/","image":null,"publisher":null,"headline":"Browse","dateModified":null,"datePublished":null,"sameAs":null,"mainEntityOfPage":null,"@context":"http://schema.org"}</script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
	<style>
		.downloads { color: white; border: 1px solid #5d910b; border-radius: 2px; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 3px 7px rgba(0,0,0,0.7); background-color: #93bd20; padding: 10px 12px; margin-top: 10px 12px; line-height: 14px; font-size: 14px; display: inline-block; text-align: center;}
	</style>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
         	<li class="fork"><a href="https://github.com/MelonSpeedruns/ClarityGFX_Presets">Submit your presets!</a></li>
			<li class="fork"><a href="https://github.com/MelonSpeedruns/ClarityGFX_Presets">Back to Home</a></li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>Clarity Presets</h1>
          <p>Browse some of the community presets!</p>
          <hr>
          <span class="credits left">Preset website made by <a href="https://github.com/MelonSpeedruns">MelonSpeedruns</a> and <a href="https://github.com/Crementif">Crementif</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>

        <main>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/simple-slider/1.0.0/simpleslider.min.js"></script>
		<script src="https://prinzhorn.github.io/0/0.js"></script>
          {% for preset in site.data.presets %}
            <h1>{{ preset.name | default: Preset doesn't have a name }}</h1>
            <h3>Created by: {{ preset.creator | default: Creator not specified }}</h3>
            <a>{{ preset.description | default: No description available }}</a>
         	<br><br><div id="slider{{preset.name | slugify}}" style="width:650px; height:366px" data-simple-slider>
			{% for screenshot in preset.screenshots %}
         		<a href="{{screenshot | default: http://ontwerpblik.nl/wp-content/uploads/404-gif.gif}}" rel="0"><img alt="Screenshot of {{preset.creator}}'s {{preset.name}}" src="{{ screenshot | default: http://ontwerpblik.nl/wp-content/uploads/404-gif.gif }}"/></a>
			{% endfor %}
			</div>
			<li class="downloads" style="margin: 25px 0px 60px"><a href="{{preset.download}}" style="color:white;">Download {{ preset.name }}</a></li>
			<script>
    			var imgSlider = simpleslider.getSlider({container: document.getElementById("slider{{preset.name | slugify}}"), show: 0, delay: 6});
			</script>
           {% endfor %}
         </main>
      </section>
	  </div>
  </body>
</html>
